<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
    <style>     
        img {
            border-radius: 25%;
        }
        article{
            font-size: 17px;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
    </style>
</head>
<body background = "https://i.imgur.com/rfe49eF.jpg">
    <center><img src="https://i.imgur.com/H7ophUa.jpg" alt= "Learning is hard if you didn't try"
    width = "276" height= "360" ></center>
    <h1 align = "center">Perkenalkan ☺</h1>
    <h2 align = "center">Nama saya Yunie Debora</h2>
    <article align = "center">Saya berusia {{ age }} tahun</article>
    <article align = "center">Saya {{status}}</article>
    <article align = "center">Fakultas Ilmu Komputer, Jurusan Sistem Informasi, dengan NPM : {{npm}}</article>
    <article align = "center">Saya mengikuti UKM {{ukm}} karena saya cukup senang {{hobi}}</article>
    <article align = "center">Kamu dapat mengontak saya melalui email berikut : {{kontak}}</article>
    <h3 align = "center">❀Terima Kasih telah mengunjungi Profil saya❀</h3>
</body>
</html>
